<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Dropdowns within Buttons</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>HomePage1</title>
</head>
<body>
    <a href="HomePage">Home</a>
    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">Login</button>
        <div class="dropdown-menu">
            <a href="StudentLogin" class="dropdown-item">Student Login</a>
            <a href="StaffLogin" class="dropdown-item">Staff Login</a>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown">Sign Up</button>
            <div class="dropdown-menu">
                <a href="StudentRegistration" class="dropdown-item">Student Register</a>
                <a href="#" class="dropdown-item">Staff Register</a>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown">Academics</button>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">Courses</a>
                    <a href="#" class="dropdown-item">Course Regulations</a>
                    <a href="#" class="dropdown-item">Academic calender</a>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown">Amenties</button>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">Library</a>
                        <a href="#" class="dropdown-item">Canteen</a>
                        <a href="#" class="dropdown-item">Sports</a>
                        <a href="#" class="dropdown-item">Hostel</a>
                        <a href="#" class="dropdown-item">Internet</a>
                    
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown">Departments</button>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">CSE</a>
                            <a href="#" class="dropdown-item">ECE</a>
                            <a href="#" class="dropdown-item">EEE</a>
                            <a href="#" class="dropdown-item">Civil</a>
                            <a href="#" class="dropdown-item">Mechanical</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</body>
</html>

 

